@media screen and (max-width: 600px) {
  .navbar {
    width: 97vw;
    margin: 4px 0px;
    height: 45px;
    border-radius: 10px;
  }
  .logo {
    width: 75px;
    margin-right: 5px;
  }
  .nav-links a {
    font-size: 10px;
    font-weight: 500;
  }
  .features {
    padding: 10px 20px;
    width: 100vw;
  }
  .features h2 {
    margin-left: 18px;
    margin-bottom: 37px;
  }
  .features li {
    margin: 14px 0;
    padding: 31px;
  }
}
